@model Laptop

@{
    ViewData["Title"] = " Xóa Laptop";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Xóa @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="col-md-4 offset-4 text-center">
                    <img style="max-width: 300px" id="ImageUrlPreview" />
                </div>

                    <div class="col">
                        <div class="col-md-6" style="width: 100%;">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label mt-3 mb-3">Tên:</label>
                                <input asp-for="Name" class="form-control" readonly />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label mt-3 mb-3">Giá:</label>
                                <input asp-for="Price" type="number" class="form-control" readonly />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageURL" class="control-label mt-3 mb-3">Đường dẫn ảnh:</label>
                                <input asp-for="ImageURL" class="form-control" readonly />
                                <span asp-validation-for="ImageURL" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label mt-3 mb-3">Mô tả:</label>
                                <textarea asp-for="Description" class="form-control" style="height: 200px;" readonly></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    <div class="form-group" style="padding-bottom: 10px">
                        <label asp-for="Status" class="mt-3 mb-3">Tình trạng:</label>
                        @{
                            string statusText = Model.Status == "1" ? "Còn hàng" : "Hết hàng";
                        }
                        <input type="text" class="form-control" value="@statusText" readonly />
                    </div>

                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-end"
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Xem tất cả</a>
                    </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $("#ImageURL").val();
        })
    </script>
}